{% extends 'base.html' %} 
{% load static %}

{% block css %}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row p-3">
        <div class="col-md-12 mt-3 text-center">
            <h3>{{ title }}</h3>
        </div> 
        <div class="col-md-6 my-0">
            <a href="{{request.META.HTTP_REFERER}}">Back</a>
            <form class="form" method="POST", enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}   
                  {% if field.label == "Stopwords" %}
                        <div class="form-row mb-3 mt-0 px-0">
                            <div class="col-md-8 ml-auto px-4">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="small text-danger d-block">{{ error|escape }} </span>
                                {% endfor %}
                                <label for="{{ field.id_for_label }}">Remove Stopwords</label>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-row mb-3">
                            <div class="col-md-4"><label for="{{ field.id_for_label }}">{{ field.label }}:</label></div>
                            <div class="col-md-8">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="small text-danger d-block">{{ error|escape }} </span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-row ">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-info">Create</button>
                    </div>
                </div>
            </form>
        </div> 
        <div class="col-md-6 my-0 py-3 bg-light border rounded">
            <h4>Detail Pipeline</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Feature Extraction</th>
                        <td>TF-IDF</td>
                    </tr>
                    <tr>
                        <th scope="row">Cross Validation</th>
                        <td>2 x Crossing</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan=2>Model</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">1. SVM</th>
                        <td>
                            <i>Kernel:</i> linear, rbf, sigmoid or poly<br/>
                            <i>Gamma:</i> auto or scale
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">2. MNB</th>
                        <td>
                            <i>Alpha:</i> 1.0, 0.75, 0.5, 0.25,  0.1 or 0.01<br/>
                            <i>Fit Prior:</i> True or False
                        </td>
                    </tr>

                    <tr>
                        <th scope="row" class="text-right">3. KNN</th>
                        <td>
                            <i>N Neighbours:</i> 1 ~ length(dataset)/2<br/>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>




{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}
