{% extends 'base.html' %} 
{% load static %}

{% block css %}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row py-3">
        <div class="col-md-12 mt-3 text-center">
            <h3>{{ title }}</h3>
        </div> 
        <div class="col-md-12 mb-3">
            <a href="{{request.META.HTTP_REFERER}}">Back</a>
            <h3 class="font-weight-bold">Dataset: {{ dataset }}</h3>  
            Question: {{ question }} <i>({{ category }})</i>
        </div>
        <div class="col-md-6 my-0 py-3">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Train Set</th>
                        <td>{{ train_set }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Test Set</th>
                        <td>{{ test_set }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Features</th>
                        <td>{{ features }}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div class="col-md-6 my-0 py-3">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Remove Stopwords</th>
                        <td>{{ remove_stopwords }}</td>
                    </tr>
                    <tr>
                        <th scope="row">N-Grams</th>
                        <td>{{ ngram }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Resampling</th>
                        <td>{{ resample }}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
    {% for key, value in eval_models.items %}
        <div class="row py-3 mb-3">
            <div class="col-md-12 mb-3">
                <h3 class="font-weight-bold">Model: {{ value.model_name }}</h3>  
                Best Parameter: {{ value.best_params }}
            </div>
            <div class="col-md-4">
                <h5>Confusion Matrix</h5>
                <img class="img-fluid" src="data:image/png;base64, {{ value.conf_matrix }}"/>     
            </div>
            <div class="col-md-4">
                <h5>Evaluation</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Test</th>
                            <td>{{ value.y_test|slice:":10"|join:" " }} ...</td>
                        </tr>
                        <tr>
                            <th scope="row">Predict</th>
                            <td>{{ value.y_pred|slice:":10"|join:" " }} ...</td>
                        </tr>
                        <tr>
                            <th scope="row">Accuracy</th>
                            <td>{{ value.evaluation.accuracy }}</td>
                        </tr>
                        <tr>
                            <th scope="row">F1 Score</th>
                            <td>{{ value.evaluation.f1_score }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Recall</th>
                            <td>{{ value.evaluation.recall }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Precision</th>
                            <td>{{ value.evaluation.precision }}</td>
                        </tr>
                    </tbody>
                </table>      
            </div>
            <div class="col-md-4">
                <h5>Cross Validation</h5>
                <table class="table">
                    <tr>
                        {% for data in value.cros_val %}
                            <th>{{ data }}</th>
                        {% endfor %}
                    </tr>
                    {% for _, record in value.cros_val.iterrows %}
                        <tr>
                            {% for value in record %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>       
            </div>

            <div class="col-md-12">
                <h5>Classification Report</h5>
                    <pre>{{ value.evaluation.report }}</pre>
            </div>
        </div>
    {% endfor %}       
    <div class="row py-3">
        <div class="col-md-12 mt-3 text-right bg-light border rounded">
            <button class="btn btn-danger m-2 px-4" onclick=location=URL>Delete</button>
            <button class="btn btn-outline-info m-2 px-4" onClick="window.location.reload()">Reset</button>

            <form class="d-inline" action="{% url 'vectorizer' %}" method="POST">
                {% csrf_token %}                
                <input type="hidden" name="category" value="{{ category }}">
                <input type="hidden" name="question" value="{{ question }}">
                
                <input type="hidden" name="vector" value="TF-IDF Vectorizer for {{ category|title }} Corpus">
                {% for key, value in eval_models.items %}                    
                    <input type="hidden" name="{{ key }}_model" value="{{ value.model_name }}">
                    <input type="hidden" name="{{ key }}_detail" value="<pre>Model: {{ value.model_name }}<br>{% for key, value in value.best_params.items %}{{ key|title }}: {{ value }}<br>{% endfor %}<br>Train set: {{ train_set }}<br>Test set: {{ test_set }}<br>Accuracy: {{ value.evaluation.accuracy }}<br>F1 score: {{ value.evaluation.f1_score }}<br>Recall: {{ value.evaluation.recall }}<br>Precision: {{ value.evaluation.precision }}<br>{{ value.evaluation.report }}</pre>">
                {% endfor %}

                <button type="submit" class="btn btn-info  m-2 px-4">Create</button>
            </form>
        </div>
    </div> 

</div>




{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}
