{% extends 'base.html' %} 
{% load static %}

{% block css %}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row py-3">
        <div class="col-md-12 mt-3 text-center">
            <h3>{{ title }}</h3>
        </div> 
        <div class="col-md-12 mt-3">
            Category: {{ data.category }}<br/>
            Question: {{ data.question }}<br/>
            {{ data.vector }}<br/>
            {{ data.svc_detail|safe }}<br/>
            {{ data.mnb_detail|safe }}<br/>
            {{ data.knn_detail|safe }}<br/>
        </div> 
    </div>
</div>




{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}
